{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/base.css" %}?v={{version}}'>
    <title>E for English</title>
</head>
<body class="bg-smoke">
    <div class="m-t-4 rnd-2 bg-white p-2 resp-30-80 m-c">
        <div class="w-fc m-c">
            <a href="/">
                <img src="{{logo_url}}" alt="E for English" class="pic-sm-w-3">
            </a>
        </div>
        {% block content %}{% endblock content %}
    </div>
</body>
</html>