<div id="head" class="brd-b-def fixed-top w-100 bg-white">
    <div class="resp-80-90 m-c grid-col-a-1-a m-t-b-2">
        <div class="flex"><a class="flex-c vert-c font-xl" href="javascript:slideHorizontally('side-bar')"><span class="fas fa-stream"></span></a></div>
        <div class="flex"><a class="flex-c vert-c" href="/"><img src="{{logo_url}}" alt="E for English" class="pic-sm-w-3"></a></div>
        <div class="flex">
            {% if user.is_authenticated %}
            <a class="flex-c vert-c" href="http://">
                <img src="{{user.pic.url}}" class="pic-sm-1 rnd brd-primary-2 sdw">
            </a>
            {% else %}
            <!-- <a class="font-l brd-primary rnd-1 p clr-white bg-primary flex-c vert-c" href="{% url 'login' %}"><span class="fa fa-sign-in clr-white"></span> <span class="clr-white">Enter</span></a> -->
            <a class="font-l rnd-1 flex-c vert-c clr-white bg-primary p-1-4" href="{% url 'login' %}">Enter</a>
            {% endif %}
        </div>
    </div>
</div>