<div id="footer" class="brd-t-def m-t-4 bg-smoke" style="min-height: 180px;">
    <div class="resp-80-90 m-c txt-c">
        <a href="#" class="clr-primary font-sm font-b inline m-2">Terms of Uses</a>
        <a href="#" class="clr-primary font-sm font-b inline m-2">Privacy Policy</a>
        <a href="#" class="clr-primary font-sm font-b inline m-2">Cookies Notice</a>
        <br>
        <a href="#" class="font-sm inline m-2"><span class="fa fa-facebook"></span></a>
        <a href="#" class="font-sm inline m-2"><span class="fa fa-instagram"></span></a>
        <a href="#" class="font-sm inline m-2"><span class="fa fa-twitter"></span></a>
    </div>
</div>