{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Test Result</h1>
    <p>Score: {{score}}</p>
    <p>Correction Rate: {{correction_rate}}</p>
    <h1>Short Report</h1>
    <div class="w-50 grid-col-111">
        <div class="brd-def p-2 txt-c">Correct</div>
        <div class="brd-def p-2 txt-c">Wrong</div>
        <div class="brd-def p-2 txt-c">Skipped</div>
        <div class="brd-def p-2 txt-c">{{short_report.correct}}</div>
        <div class="brd-def p-2 txt-c">{{short_report.wrong}}</div>
        <div class="brd-def p-2 txt-c">{{short_report.skipped}}</div>
    </div>
{% endblock content %}