{% extends "base.html" %}
{% load static %}

{% block content %}
    <p class="font-xl">Last Test</p>
    
    {% if short_report %}
    <div class="m-t-b-4">
        <a class="m p brd-b-theme" href="#">Summary</a>
        <a class="m p clr-b-5 brd-b-def" href="/solved-answer-sheet/{{participant.test.key}}">Details</a>
        <a class="m p clr-b-5 brd-b-def" href="{% url 'all-tests' %}">See all tests</a>
    </div>
    {% include "dashboard/short_report.html" with short_report=short_report %}
    {% else %}
    <span class="clr-b-3">No Tests</span>
    {% endif %}

    <p class="font-xl">Chapter Progress</p>
    
    {% if on_progress %}
        {% for data in on_progress %}
        <div class="brd-l-bar-theme p block m-t-b-4 rnd-1 bg-smoke">
            <span class="font-l m block">{{data.chapter.name}}</span>
            {% include "progress.html" with object=data bg='bg-white' %}
            <a class="m" href="/quick-test">Practise</a>
            <a class="m" href="/study/{{data.chapter.id}}">Study</a>
        </div>
        {% endfor %}
    {% endif %}
    
    {% if untouched %}
        {% for data in untouched %}
        <div class="brd-l-bar-def p block m-t-b-4 rnd-1 bg-smoke">
            <span class="font-l m block">{{data.chapter.name}}</span>
            <a class="m" href="/practise/{{data.chapter.id}}">Practise</a>
            <a class="m" href="/study/{{data.chapter.id}}">Study</a>
        </div>
        {% endfor %}
    {% endif %}
    {% include "floating_menu.html" with clr_dashboard='clr-theme' %}
{% endblock content %}