<div class="resp-50-90 m-c">
    <div class="brd-l-bar-theme bg-smoke p grid-col-11 m-2 m-b-2">
        <div><span class="font-b">Score</span></div>
        <div class="txt-c"><span class="font-b">{{short_report.score}}</span></div>
    </div>
    <p class="font-xl">Summary</p>
    <div class="brd-l-bar-primary bg-smoke p grid-col-11 m-2">
        <div><span class="">Total</span></div>
        <div class="txt-c"><span class="">{{short_report.total}}</span></div>
    </div>
    <div class="brd-l-bar-green bg-smoke p grid-col-11 m-2">
        <div><span class="">Correct</span></div>
        <div class="txt-c"><span class="">{{short_report.correct}}</span></div>
    </div>
    <div class="brd-l-bar-red bg-smoke p grid-col-11 m-2">
        <div><span class="">Wrong</span></div>
        <div class="txt-c"><span class="">{{short_report.wrong}}</span></div>
    </div>
    <div class="brd-l-bar-def bg-smoke p grid-col-11 m-2">
        <div><span class="">Skipped</span></div>
        <div class="txt-c"><span class="">{{short_report.skipped}}</span></div>
    </div>   
</div>